---
import testimonial from "../../constants/testimonal";
---

<div class="py-20 lg:py-28">
  <div class="flex lg:justify-center font-outfit">
    <h1 class="text-4xl lg:text-5xl font-black">
      Trusted by <span class="text-primary">experts</span> world wide
    </h1>
  </div>
  <div class="mt-14 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10">
    {
      testimonial.map((testimonial) => (
        <div class="card bg-gradient-to-t from-base-100 to-base-300/50 border border-base-200 p-7">
          <div class="card-body p-0">
            <p>"{testimonial.feedback}"</p>
            <div class="justify-start mt-2 flex">
              <img
                alt="profile image"
                class="rounded-full object-cover h-12 w-12"
                src={testimonial.profile}
              />
              <div class="ml-4">
                <h1 class="font-bold">{testimonial.name}</h1>
                <span class="text-xs text-base-content/50">
                  {testimonial.position}.<span>{testimonial.company}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
